*{
    box-sizing: border-box;
    padding: 5px;
   
    
}
 


#background{
    background-image: url(darkHighResCoding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: teal;
}

#backgroundP2{
    background: url(wallpaper.jpg) left top no-repeat, url(darkBluePattern.jpg) left top repeat;
    background-size: contain, auto;
  }
    


#backgroundP1{
    background: url(darkerMobWall.jpg) left top no-repeat, url(pinkPattern.jpeg) left top repeat;
    background-size: contain, auto;
  }


#backgroundP3{
    background: url(darkNetwork.jpg) left top no-repeat, url(midBluePattern.jpg) left top repeat;
    background-size: contain, auto;
  }

#backgroundP4{
    background: url(highTechDark.jpg) left top no-repeat, url(circleBlue.jpg) left top repeat;
    background-size: contain, auto;
  }
  #backgroundP5{
    background: url(laptopDark.jpg) left top no-repeat, url(darkGreypattern.jpg) left top repeat;
    background-size: contain, auto;
  }

  .logo{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 60px;
    color: white;
    
}


.tabBar {
    text-align: right;
    font-size: 25px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    
    
}

.pageScroll{
    font-size: xx-large;
    text-align: center;
    justify-self: center;
}
.homeTitle {
    text-align: center;
    font-size: 70px;
    font-family: 'Arvo', serif;
        font-weight: 200;
    color: white;
    border-style: inset;
    border-top-color: #ed008b;
    border-bottom-color: #00befa;
    
}

.p1Title{
    margin-top: 450px;
    text-align: center;
    font-size: 40px;
    font-family: 'Arvo', serif;
    font-weight: 200;
    color: white;
     border-style: inset;
    border-top-color: gold;
    border-bottom-color: lightgrey; 
}

.p2Title{
    margin-top: 450px;
    text-align: center;
    font-size: 70px;
    font-family: 'Arvo', serif;
    font-weight: 200;
    color: white;
     border-style: inset;
    border-top-color: rgb(127, 80, 163);
    border-bottom-color: rgb(78, 171, 68); 
}

.p3Title{
    margin-top: 450px;
    text-align: center;
    font-size: 100px;
    font-family: 'Arvo', serif;
    font-weight: 200;
    color: white;
     border-style: inset;
    border-top-color: rgb(24, 45, 149);
    border-bottom-color: rgb(171, 40, 40); 
}

.p4Title{
    margin-top: 450px;
    text-align: center;
    font-size: 100px;
    font-family: 'Arvo', serif;
    font-weight: 200;
    color: white;
     border-style: inset;
    border-top-color: rgb(166, 34, 34);
    border-bottom-color: rgb(41, 101, 186); 
}

.p5Title{
    margin-top: 450px;
    text-align: center;
    font-size: 100px;
    font-family: 'Arvo', serif;
    font-weight: 200;
    color: white;
     border-style: inset;
    border-top-color: rgb(6, 3, 3);
    border-bottom-color: grey; 
}

.containerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 


.homeHeader{
    font-family: 'Abel', sans-serif;

    text-align: center;
    font-weight: lighter;
    color: white;
    font-size: 40px;
}   

.button {
    background-color: #ed008b; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 5px;
    
  }


 
.textBackground{
  border-style: inset;
  background-color: black;
  border-top: gold;
  border-bottom: silver;
  
    
  
}
    

.containerButton{
    display: flex;
    justify-content: center;

}

.containerTab{
    display: flex;
    justify-content: flex-end;

}

.containerImg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;

}

.imgProp{
    size: auto;
}



 
h2{
    font-family: 'Signika', sans-serif;
    color: white;
    text-align: center;
    font-size: 35px;

}

h3{
    font-family: 'Signika', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}

.p1Text{
    margin: auto;
    font-family: 'Raleway', sans-serif;

    width: 40%;
    color: black;
    font-size: x-large;
    /* border: inset; 
     border-radius: 5%;
    border-color: aqua; */
    text-align: center;
    justify-content: center;
   
}

.p1StartText{
    margin: auto;
    font-family: 'Raleway', sans-serif;

    width: 40%;
    color: rgb(248, 240, 240);
    font-size: x-large;
    /* border: inset; 
     border-radius: 5%;
    border-color: aqua; */
    text-align: center;
    justify-content: center;
    
}

.openingText{
    margin: auto;
    font-family: 'Raleway', sans-serif;

    width: 40%;
    color: rgb(248, 240, 240);
    font-size: x-large;
    /* border: inset; 
     border-radius: 5%;
    border-color: aqua; */
    text-align: center;
    justify-content: center;
}

.p2Text{
    margin: auto;
    font-family: 'Raleway', sans-serif;

    width: 40%;
    color: white;
    font-size: x-large;
    /* border: inset; 
     border-radius: 5%;
    border-color: aqua; */
    text-align: center;
    justify-content: center;
   
}

.p3Text{
    margin: auto;
    font-family: 'Raleway', sans-serif;

    width: 40%;
    color: white;
    font-size: x-large;
    /* border: inset; 
     border-radius: 5%;
    border-color: aqua; */
    text-align: center;
    justify-content: center;
   
}
.p4Text{
    margin: auto;
    font-family: 'Raleway', sans-serif;

    width: 40%;
    color: white;
    font-size: x-large;
    /* border: inset; 
     border-radius: 5%;
    border-color: aqua; */
    text-align: center;
    justify-content: center;
}

.p5Text{
    margin: auto;
    font-family: 'Raleway', sans-serif;

    width: 40%;
    color: white;
    font-size: x-large;
    /* border: inset; 
     border-radius: 5%;
    border-color: aqua; */
    text-align: center;
    justify-content: center;
}