* {
    background-color: rgb(255, 250, 255);
    box-sizing: border-box;
    padding: 5px 5px 8px 5px;
}

.logo{
    font-family: 'Bitter', serif;
    text-align: left;
    font-size: 50px;
}



.mainTitle {
    text-align: center;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.tabBar {
    text-align: right;
    font-size: 20px;
    
}

.inset {
    border-style: inset;
    border-top-color: lightgoldenrodyellow;
    border-bottom-color: rgb(208, 213, 243);
}

.groove{
    border-style: groove;
    border-top-color: #ed008b ;
    border-bottom-color: #00befa;
}

h2{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-weight: lighter;
}   
p{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify center;
    width: auto;
    
}





